body {
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: black;
}

h1 {
    font-style: oblique;
    border-style: ridge;
    text-align: center;
}

.homepage {
    font-size: x-large;
}

img {

    height: auto;
    width: 300;
    border: black;
    border-radius: 10px;
    border-style: ridge;
    text-align: center;
}

.center {
    text-align: center;
}